main {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 800px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.card img {
    width: 100%;
    border-radius: 4px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
    margin: 60px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    margin: 12px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

.code-block {
    background-color: #d8d8d8;
    text-align: left;
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

figure {
    margin: 0 auto;
    max-width: 600px;
}

figcaption {
    margin: 5px;
    font-size: 12px;
}

.styled-hr {
    width: 600px;
}

nav {
    margin-top: 20px;
    text-align: center;
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav ul li:hover a {
    color: #777;
}

.cvpa-singleproduct-image {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cvpa-multipleproducts-image {
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cvpa-multipleproducts-minusitemC-image {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.ssa-python-code {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.ssa-python-code-results {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.credit {
    font-size: 12px;
}

@media (max-width: 600px) {

    .cvpa-singleproduct-image {
        max-width: 100%;
    }

    .cvpa-multipleproducts-image {
        max-width: 100%;
    }

    .cvpa-multipleproducts-minusitemC-image {
        max-width: 100%;
    }

    .ssa-python-code {
        max-width: 100%;
    }

    .ssa-python-code-results {
        max-width: 100%;
    }

}

@media (max-width: 600) {
    .card {
        max-width: 100%;
    }
}
